body {
    font-family:"Lucida Console", Monaco, monospace;
    color: #76448A;
    background: #222;
    margin:0px;
    max-width:100%;
    line-height:0.17;
    font-size:7px;
    padding:0 0px;
}
