body {
    font-family:"Lucida Console", Monaco, monospace;
    color: #76448A;
    background: #222;
    margin:17px;
    max-width:100%;
    line-height:0.24;
    font-size:5px;
    padding:0 0px;
}

}
#datamoth {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #32CD32 !important;
    line-height:0.37 !important;
    font-size:9.5px !important;
    padding:0 2px;
}


a {
  color: #32CD32;
}

a:hover {
  background-color: #333;
}

a:active {
  background-color: #333;
}

a:visited {
  background-color: #333;
}
