body {
    font-family:"Lucida Console", Monaco, monospace;
    color: #2e2174;
    background: #222;
    margin:40px auto;
    max-width:80%;
    line-height:0.17;
    font-size:18px;
    padding:0 10px;
}
